
*.dll
Jumper/bin/Debug/net6.0/Jumper.dll
*.cache
*.dll
*.pdb
*.dll
*.dll
*.pdb
*.dll
*.dll
*.pdb
*.dll
*.dll
Jumper/obj/Debug/net6.0/Jumper.dll
*.cache
Jumper/obj/Jumper.csproj.nuget.dgspec.json
*.json
Jumper/bin/Debug/net6.0/Jumper.dll
Jumper/bin/Debug/net6.0/Jumper.exe
Jumper/bin/Debug/net6.0/Jumper.pdb
Jumper/bin/Debug/net6.0/Jumper.runtimeconfig.json
Jumper/obj/Debug/net6.0/Jumper.AssemblyInfo.cs
Jumper/obj/Debug/net6.0/Jumper.assets.cache
Jumper/obj/Debug/net6.0/Jumper.csproj.AssemblyReference.cache
Jumper/obj/Debug/net6.0/Jumper.csproj.CoreCompileInputs.cache
Jumper/obj/Debug/net6.0/Jumper.csproj.FileListAbsolute.txt
Jumper/obj/Debug/net6.0/Jumper.dll
Jumper/obj/Debug/net6.0/Jumper.GeneratedMSBuildEditorConfig.editorconfig
*.cache
*.pdb
*.dll
*.dll
Jumper/obj/Jumper.csproj.nuget.dgspec.json
Jumper/obj/Jumper.csproj.nuget.g.props
Jumper/obj/project.assets.json
Jumper/obj/project.nuget.cache
Jumper/Program.cs
